version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: ghostledger_web_1
      APP_PORT: 8501

  web:
    image: jcooper21/ghostledger:v1.3.2@sha256:5fab16a773a26297ca37c085f40db1381bd89179bdc913357a34f81f7c17ecbb
    restart: on-failure
    stop_grace_period: 30s
    environment:
      STREAMLIT_SERVER_HEADLESS: "true"
      STREAMLIT_BROWSER_GATHER_USAGE_STATS: "false"
      STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
      STREAMLIT_SERVER_PORT: "8501"
      STREAMLIT_SERVER_ENABLE_CORS: "false"
      STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION: "false"
      TZ: "${TZ:-America/Toronto}"
